section {
  margin: 1rem 2.5rem;
}
#farm_variables {
  background-color: rgba(246, 189, 189, 0.47);
  border-radius: 8px;
}
#plot-division {
  background-color: rgba(246, 189, 189, 0.47);
  border-radius: 8px;
}
#plant-list {
  background-color: rgba(229, 177, 185, 0.47);
  border-radius: 5px;
}
#finance-summary {
  background-color: rgba(220, 189, 205, 0.6);
  border-radius: 5px;
}
section > header {
  text-decoration: underline;
  text-align: center;
}
section > div {
  display: flex;
}
section div p,
section header {
  margin: 0px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
section > ul {
  margin: 0px;
}
